@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
  background-color: darkgray;
}

header {
  background-color: black;
  color: white;
}

header > h1 {
  padding-top: 50px;
  font-variant: small-caps;
}

header > p {
  padding-bottom: 50px;
}

header a,
footer a {
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

header a:hover,
footer a:hover {
  text-decoration: underline;
}

section {
  padding: 10vh 0;
  line-height: 2em;
  padding-left: 30px;
}

section.normal {
  background-color: white;
  color: black;
}

section.imagem {
  background-color: rgb(59, 59, 59);
  color: white;
}

section.imagem > p {
  width: 400px;
  background-color: rgba(0, 0, 0, 0.151);
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}
